/*body {
  background: white;
}
h1 {
    color: #8D9EC6;
    font-size: 80px;
}
h2 {
    color: #8D9EC6;
    font-size: 50px;
}
h3 {
    color: #8D9EC6;
    font-size: 30px;
}*/
#box {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}
.round_image {
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
  vertical-align: center;
  position:center;

}
.span9 {
  vertical-align: center;

}
#person {
  display: inline-block;
  padding: 20px;
}
.column1, .column2, .column3{
  width: 25%;
  float: left;
  margin: 1%;
}
